

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to SurveyMaster</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<footer class="footer-main">
  <div class="footer-content">
    &copy; 2023 Survey Site. All rights reserved.
  </div>
  </footer>
